body {
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    background-color: #acacac; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    width: 350px;
    min-height: 60vh;      
    padding: 40px;
    margin: 20px ; 
    border: 2px solid #333;
    background: #ffffff;
    box-shadow: 0 3px 3px 3px #444;
    margin-top: 100px;
}
form input[type="text"],
form input[type="email"],
form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="submit"] {
    padding: 15px 40px;
    font-size: 20px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin: auto;
}

input.error {
    border: 2px solid red !important;
}

input.success {
    border: 2px solid green !important;
}

